body{
    margin: 0;
    padding: 0;
}

.container{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.ozne{
    list-style: none;
    height: 10vh;
}

.enzo{
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    height: 10vh;

}

nav{
    display: flex;
    width: 100vw;
    height: 18vh;
    justify-content: center;
    background-color: rgb(255, 255, 158);
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.flacoo{
    width: 105px;
    height: 105px;
}

.onze{
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
}

.onze:hover{
    background-color: yellow;
}

@media (max-width:768px){
    .enzo{
        gap: 10px;
    }
}

.trezeguet{
    width: 900px;
    height: auto;
}

main{
    height: auto;
    width: 1280px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.5);
    flex-wrap: wrap;
}